<!-- views/partials/footer.ejs -->
<footer>
    <div class="container">
      <p>&copy; 2024 Gym Buddy Tracker. All rights reserved.</p>
      <div class="social-links">
        <a href="https://github.com/AaronRayB" target="_blank" class="social-icon">GitHub</a>
      </div>
    </div>
  </footer>
  
