<!-- views/partials/header.ejs -->
<header>
    <div class="container">
      <h1>Gym Buddy Tracker</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/public">View All Workouts</a></li>
         
        </ul>
      </nav>
    </div>
  </header>
  
